<html>
  <head>
    <title>Dog House Cooking</title>
    <link rel="stylesheet" type="text/css" href="../main.css">
    <link rel="stylesheet" type="text/css" href="../home.css">
  </head>

  <body>

    <div class="header">
      <h1>Dog House Cooking</h1>
    </div>

    <div class="topnav">
      <a href="/">Home</a>
      <a href="/articles">Articles</a>
      <a href="/recipes">Recipes</a>
      <a href="/about.html">About</a>
    </div>

    <!-- Beginning of page body -->
    {{range .}}
    <div class="card">
      <a href="recipes/{{call .PageName}}">
        <h2>banana-bread</h2>
      </a>
      <a href="recipes/{{call .PageName}}">
        <img src="/img/{{.Image}}" />
      </a>
      <p>{{.Description}}</p>
    </div>


    {{end}}

  </body>
</html>




